@model System.Collections.Generic.List<SpanyolMVC.Models.ViewModels.UserRolesViewModel>

@{
    ViewData["Title"] = "User Roles";
}

<h1>User Roles</h1>

<table class="table">
    <thead>
    <tr>
        <th>Email</th>
        <th>Roles</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>@string.Join(", ", user.Roles)</td>
            <td>
                <a asp-action="Manage" asp-route-userId="@user.UserId" class="btn btn-dark">Manage Roles</a>
            </td>
        </tr>
    }
    </tbody>
</table>