html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/*quiz*/
.option-container .form-check-label {
  cursor: pointer;
  transition: all 0.2s;
  padding: 1rem;
  border-radius: 0.5rem;
}

.option-container .correct-answer {
  background-color: #28a745 !important;
  border-color: #28a745 !important;
  color: white !important;
}

.option-container .wrong-answer {
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
  color: white !important;
}